.ui.borderless.inverted.menu {
  background-color: #D30829;
}

#login-buttons a, .accounts-dialog a{
  color: rgba(255, 255, 255, 0.901961);
}

.Other {
  background-color: #d6faff;
}
.School {
  background-color: #ddffef;
}
.Work {
  background-color: #f0ffe1;
}

.Friends {
  background-color: #ffe4d1;
}
.Family {
  background-color: #fff5db;
}